
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	overflow: auto;
}

header {
        background-image: url(./images/clouds.png);
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: bottom;
        text-align: center;
        height: 100vh;
}

#attest {  
    background-color: #017849;
    text-align: center;
    color: white;
    padding: 10px;
}

#verify {
    margin-right: 5px;
}

#attest p {
    font-size: 0.8em;
    margin: 0;
}

p#kemp {
    font-size: 0.6em;
}

#coins {
	position: absolute;
	right: 0;
	bottom: 0;
	min-height: 100vh;
	min-width: 100%;
	opacity: 0.1;
	overflow: hidden;
	z-index: -100;
}

#content {
    max-width: 1024px;
    padding: 0 50px;
    margin: auto;
}

#logo {
    width: 150px;
    margin-top: 100px;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
}

img.social {
    width: 35px;
    padding: 5px;
}

#cases {
    padding: 30px 50px;
    background-color: white;
    text-align: center;
}

p.whyzarp {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

#blockwrap {
    max-width: 600px;
    margin: auto;
}

div.blocks {
    text-align: left;
    background: #C5ECFF;
    margin: 20px;
    padding: 20px;
}

h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    background-color: darkgray;
    padding: 20px 100px;
    font-size: .8em;
}