
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	overflow: auto;
}

header {
        background-image: url(./images/clouds.png);
        background-size: 100vw;
        background-repeat: no-repeat;
        background-position: bottom;
        text-align: center;
        height: 100vh;
}

#attest {  
    background-color: #017849;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: lighter;
}

#attest a {
    color: white;
    font-size: 1.2em;
}

#kempen {
    float: right;
    margin-top: -30px;
}

#verify {
    margin-right: 5px;
}

#attest p {
    font-size: 0.8em;
    margin: 0;
}

p#kemp {
    font-size: 0.6em;
}

#coins {
	position: absolute;
	right: 0;
	bottom: 0;
	min-height: 100vh;
	min-width: 100%;
	opacity: 0.1;
	overflow: hidden;
	z-index: -100;
}

#content {
    max-width: 1024px;
    padding: 0 50px;
    margin: auto;
}

#logo {
    width: 150px;
    margin-top: 100px;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
}

img.social {
    width: 35px;
    padding: 5px;
}

#cases {
    padding: 30px 50px;
    background-color: white;
    text-align: center;
}

p.whyzarp {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

#blockwrap {
    max-width: 600px;
    margin: auto;
}

div.blocks {
    text-align: left;
    background: #C5ECFF;
    margin: 20px;
    padding: 20px;
}

h2 {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

#faq {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.4em;
    margin-top: 50px;
}

summary {
    font-family: 'Press Start 2P', cursive;
    font-size: .7em;
    background-color: #F2A541;
    background-image: url(images/huh.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
    border-top: 3px #E65B0F solid;
    border-right: 3px black solid;
    padding: 1rem;
    padding-right: 50px;
    margin-bottom: 1rem;
    outline: none;
    text-align: left;
    cursor: pointer;
    position: relative;
  }
  
  p.faq { text-align: left; padding: 0 20px; }
  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }

  ul {
      text-align: left;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-top: -10px}
    100%  {opacity: 1; margin-top: 0px}
  }
  
  details > summary::-webkit-details-marker {
    display: none;
  }

footer {
    text-align: center;
    background-color: darkgray;
    padding: 20px 100px;
    font-size: .8em;
}

footer a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

@media (max-width: 1400px) {

    header {
        min-height: 380px;
    }
    
    #logo {
        width: 200px;
        margin-top: 150px;
        margin-bottom: 80px;
    }
    
    header h1 {
        font-size: 1.5em;
    }
    
    #content p {
        font-size: 1.2em;
    }

    img.social {
        width: 60px;
        padding: 15px;
    }
    
    #kempen {
        float: none;
        margin-top: 5px;
    }
    
    footer {
        background-color: darkgray;
        padding: 20px 10px;
        font-size: .7em;
        }
    
    
}

@media (max-width: 815px) {



    #logo {
        width: 80px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: .9em;
    }

    #content p {
        display: none;
    }

    img.social {
        width: 35px;
        padding: 8px;
    }
    
@media (max-width: 479px) {
    
#logo {
        width: 130px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

header h1 {
        font-size: 1em;
    }

#content p {
        display: inherit;
        font-size: .8em;
}

header {
        height: 95vh;
}

img.social {
    width: 30px;
    padding: 4px;
}

p.whyzarp {
    font-size: 1em;
    padding: 30px 10px 20px;
}

#cases {
    padding: 0;
}

div.blocks {
    margin: 10px 5px;
}

@media (max-width: 360px) {

#logo {
    width: 80px;
        margin-top: 30px;
        margin-bottom: 30px;
}

header h1 {
    font-size: .8em;
}

img.social {
    width: 25px;
    padding: 3px;
}

}

}