.barba-once {
opacity: 0
}

.barba-once-active {
transition: opacity 3s linear 0.3s
}

.barba-once-to {
  opacity: 1
}


.fade-leave {
  opacity: 1
}
.fade-leave-active {
  transition: opacity 0.4s linear
}
.fade-leave-to {
  opacity: 0;
      cursor: progress;
}


.fade-enter {
  opacity: 0

}
.fade-enter-active {
  transition: opacity 0.4s linear
  
}
.fade-enter-to {
  opacity: 1
  
}