.barba-container {overflow-x:hidden}

a, a:hover {color: inherit;text-decoration: none;}
strong {font-weight: 600}


.bg-bright-green {background-color: #009A35!important}
.bg-green {background-color: hsl(170, 100%, 14%)!important}
.bg-dark-green {background-color: #072818!important}

.text-yellow {color: $color-yellow}

.logo-cred {min-width: 56px; width: 56px;}
.logo-cred img{width: 100%;padding-right: 15px;}


.text-bright-green {color: #009A35}
.text-green {color: #00493D}


.t-min {position: relative;top: -4px;}

@include media-breakpoint-up(md) {
  .opacity-md-100 {opacity: 1!important;}
}


.bg-repeat {
	height: 57px;
  background-repeat: repeat no-repeat;
  background-position: center;
  background-color: #009A35;
	background-image: url(../img/bg-repeat.svg);
  // -webkit-animation: bg-scrolling-reverse 3s infinite;
  //   /* Safari 4+ */
  //   -moz-animation: bg-scrolling-reverse 3s infinite;
  //   /* Fx 5+ */
  //   -o-animation: bg-scrolling-reverse 3s infinite;
  //   /* Opera 12+ */
  //   animation: bg-scrolling-reverse 3s infinite;
  //   /* IE 10+ */
  //   -webkit-animation-timing-function: linear;
  //   -moz-animation-timing-function: linear;
  //   -o-animation-timing-function: linear;
  //   animation-timing-function: linear;
  background-position: 0 center;
  background-size: 60px;
}

@include media-breakpoint-up(md) {
  .bg-repeat {
    height: 90px;
    background-size: 80px;
  }
}



@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: -97px center;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: -97px center;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: -97px center;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: -97px center;
  }
}




.bg-repeat-2 {
  height:90px;
  background-repeat: repeat no-repeat;
  background-position: center;
  background-color: #FFE400;
  background-image: url(../img/bg-2.svg);
// -webkit-animation: bg-scrolling-reverse2 3s infinite;
//   /* Safari 4+ */
//   -moz-animation: bg-scrolling-reverse2 3s infinite;
//   /* Fx 5+ */
//   -o-animation: bg-scrolling-reverse2 3s infinite;
//   /* Opera 12+ */
//   animation: bg-scrolling-reverse2 3s infinite;
//   /* IE 10+ */
//   -webkit-animation-timing-function: linear;
//   -moz-animation-timing-function: linear;
//   -o-animation-timing-function: linear;
//   animation-timing-function: linear;
   background-position: 0 center;
   height: 57px;
   background-size: 50px;

}

@include media-breakpoint-up(md) {
  .bg-repeat-2 {
    height: 90px;
    background-size: 80px;
  }
}

@-webkit-keyframes bg-scrolling-reverse2 {
  100% {
    background-position: -77px center;
  }
}
@-moz-keyframes bg-scrolling-reverse2 {
  100% {
    background-position: -77px center;
  }
}
@-o-keyframes bg-scrolling-reverse2 {
  100% {
    background-position: -77px center;
  }
}
@keyframes bg-scrolling-reverse2 {
  100% {
    background-position: -77px center;
  }
}


.position-relative {position: relative;}


@include media-breakpoint-up(md) {
	.vh-100-md-up {height: 100vh}
	.h-100-md-up {height: 100%}
}


#features {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1691.896' height='971.64' viewBox='0 0 1691.896 971.64'%3E %3Cg id='bg-1' transform='translate(-0.414 -0.001)'%3E %3Cpath id='Path_1' data-name='Path 1' d='M1330.7%2C26.163H1024.81a2823.853%2C2823.853%2C0%2C0%2C0-566.446%2C943.5c538.826%2C0%2C279.773%2C1.976%2C592.039%2C1.976C1161.519%2C458.56%2C1316.355%2C61.625%2C1330.7%2C26.163Z' fill='%23fff'/%3E %3Cpath id='Path_2' data-name='Path 2' d='M769%2C384.294C769%2C172.054%2C596.946%2C0%2C384.708%2C0S.414%2C172.054.414%2C384.294%2C172.468%2C768.585%2C384.708%2C768.585%2C769%2C596.534%2C769%2C384.294Z' fill='%23ffe400'/%3E %3Cpath id='Path_3' data-name='Path 3' d='M1692.31%2C465.657a113.636%2C113.636%2C0%2C1%2C0-8.65%2C43.495A113.64%2C113.64%2C0%2C0%2C0%2C1692.31%2C465.657Z' fill='%23ffe400'/%3E %3C/g%3E %3C/svg%3E ");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center bottom -40px;
}

.link-under {position: relative;display: inline-block;}
.link-under:before {
    position: absolute;
    left: 0;
    bottom: 0px;
    content: "";
    height: 1px;
    width: 100%;
    transform: scaleX(1);
    will-change: transform;
    background: #fff;
    transform-origin: left center;
    transition: transform .5s;
}
.link-under:hover:before {
    transform: scaleX(0);
    transform-origin: right center;
}

.link-under.in:before  {transform: scaleX(0);transform-origin: right center;}
.link-under.in:hover:before {transform: scaleX(1);transform-origin: left center;}


.link-under.underline {transform: scaleX(1);transform-origin: left center;}
.link-under.text-green.underline:before {background: #00493d;}



.nav-social {padding:0; transition:opacity 0.4s }
.nav-social ul {padding: 0;margin: 0;list-style: none; display: flex; align-items:center; height: 100%}
.nav-social ul li {margin-left: 20px;}

.nav-social ul li a path {transition:fill 0.4s}
.nav-social ul li a:hover path {fill:#ffe400}


@include media-breakpoint-down(md) {
  .nav-social {display: flex;align-items: center;justify-content: center;}
  .nav-social ul li {display: flex;align-items: center;justify-content: center;margin-left: 10px; margin-right: 10px;}
  .nav-social a{display: flex; height: 40px; width: 40px; justify-content:center; align-items:center}

  small {
    font-size: 12px;
  }
}


.logos-list a{
  display: flex;
  align-items: center;
  width: 90px;
  height: 90px;
}

@include media-breakpoint-up(md) {
  .logos-list {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@include media-breakpoint-up(xxl) {
  .logos-list-2 {
    position: absolute;
    right: 0;
  }
}


// Footer


footer {padding: 20px 0;}
footer a {transition: color 0.4s}
footer a:hover {color: #ffe400}

@include media-breakpoint-down(md) { 
  footer{padding-bottom: 90px!important;}
  #features {background-image: none;}
  footer ul li a {font-size: 15px;  }
}


@include media-breakpoint-up(sm) {
  .footer-col ul {padding: 0;margin: 0;list-style: none;}
  .footer-col > ul > li > a {color:#fff; font-weight: 600;display: block; margin-bottom: 14px; cursor: default; pointer-events: none;}
  .footer-col > ul > li li > a {font-size: 16px; display: inline-block; margin-bottom: 5px;}
}


@include media-breakpoint-down(sm) {
  .footer-col {width: 100%;margin-left:0;margin-top: 0;padding-right: 0;}
  .footer-col ul {padding: 0 0;margin: 0;list-style: none;}
  .footer-col > ul {border-bottom: 1px solid rgba(255,255,255,.2);}
  .footer-col > ul > li > a {max-width: 100%;margin-bottom: 0px;display: block;padding: 15px 0;border-bottom: none;font-size: 16px;position: relative;}
  .footer-col > ul > li > a:after {
      content:''; 
      position: absolute;
      right: 0;
      top: 17px;
      transition:all 0.3s; 
      display:inline-block;
      width:20px; 
      height:16px;  
      transform-origin: center;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cline y1='-0.25' x2='7.526' y2='-0.25' transform='matrix(-0.747409 0.664364 0.664364 0.747409 11.25 1)' stroke='white' stroke-width='1'/%3E %3Cline x1='0.166091' y1='0.813148' x2='5.79109' y2='5.81315' stroke='white' stroke-width='1'/%3E %3C/svg%3E ");

      background-repeat:no-repeat;
      background-position: center;

  }
  .footer-col > ul > li > a.open:after { transform:rotate(180deg);}
  .footer-col > ul > li > ul {max-height:0; overflow:hidden; transition:all 0.4s}
  .footer-col ul ul.open {max-height:400px; overflow:hidden}
  .footer-col > ul > li li > a {padding: 6px 10px;display: block;}
  .footer-col > ul > li li:last-child > a {padding-bottom: 30px;}
  .footer-col > ul > li {padding-bottom: 0;}
}
