
/* Nav Holder */
.main-nav {
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    //backdrop-filter: blur(20px);
    transition:background-color 0.4s, height 0.4s;
}
.main-nav.change-it {
    background-color: rgba(255,255,255,1);
    height: 70px;
}

/* Logo */
.main-nav .logo {position: relative;z-index: 1;}
.main-nav .logo svg{display: block;width: 175px; transition:width 0.4s;}
.main-nav.change-it .logo svg{width: 104px;}

.main-nav .logo svg path{transition: fill 0.4s;}
.main-nav.change-it .logo svg path{fill:#00493D}

/* Navigation */
.nav {list-style: none; display: flex; align-items: center; height: 100%;margin: 0;}
.nav li {margin-left: 30px;}
.nav a {color: #fff; font-weight: 400; transition: color 0.4s;}
.nav a:hover, .current-menu-item a {color: #ffe400;}
.main-nav.change-it .nav a {color: #00493D;}

.main-nav.change-it a:before  {background-color: #00493D;}

/* Nav Spacer */
.nav-spacer {height: 160px;}

/* Burger closed by default */
.menu-opener {display: none;}


@include media-breakpoint-down(xl) {
    .main-nav {height: 120px;}
    .nav-spacer {height: 120px;}
    .main-nav .logo svg{width: 120px}
}

@include media-breakpoint-down(md) {
    .main-nav {height: 100px;}
    .nav-spacer {height: 100px;}
    .main-nav .logo svg{width: 100px}



    

        /* Burger */
        .menu-opener {
            height: 50px;
            width: 50px;
            right: -14px;
            position: relative;
            background-color: transparent;
            cursor: pointer;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .menu-opener span { position: relative; display: block; width: 26px; height: 2px; background-color: #fff; transition: top .2s 0.2s, transform .2s, background-color 0.3s ease; transform-origin: center center; }
        .menu-opened .menu-opener span { transition: top .2s, transform .2s 0.2s, background-color 0.3s ease; transform-origin: center center; background-color: #fff }
        .menu-opener span:first-child { top: -2px; transform: rotate(0deg); }
        .menu-opener span:nth-child(2) { transition: width 0.2s, opacity 0.2s, background-color 0.2s ease; opacity: 0 }
        .menu-opener span:last-child { top: 2px; }

        .menu-opened .menu-opener span:first-child { top: 2px; transform: rotate(45deg); }
        .menu-opened .menu-opener span:nth-child(2) { opacity: 0; width: 0; }
        .menu-opened .menu-opener span:last-child { top: -2px; transform: rotate(-45deg); }



        // Menu
        ul.nav {margin-left: 0; height:auto; position: fixed; top: 0; right: 0; width: 100%; pointer-events: none; background-color: #fff; opacity: 0; visibility: hidden; transition: opacity 0.4s, visibility 0s 0.5s; }
        .menu-opened ul.nav { opacity: 1; visibility: visible; transition: opacity 0.4s;pointer-events: auto; overflow-y: auto; -webkit-overflow-scrolling: touch; }
        
        .menu-opened.main-nav .logo path {fill: #00493d;} 
        .menu-opened.main-nav .menu-opener span, .main-nav.change-it .menu-opener span{background-color: #00493d!important;}

        ul.nav {padding: 80px 8vw 4vh 0;justify-content: flex-end; display: block;}
        ul.nav > li {height: initial; align-items: flex-end; flex-direction: column;text-align: right; margin-top: 10px; }
        ul.nav > li > a, ul.nav > li > a:hover {color: #00493d}
        ul.nav > li > a:before {background-color: #00493d}


}


@media (max-width: 380px) {
 
}